@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-banner-flower .image-banner:hover {
  transform: scale(1.2);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}

/* styles.css */
@keyframes roll {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-100%) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(720deg);
  }
}

.roll-on-hover:hover {
  animation: roll 1s ease-in-out;
}
